<% if current_user %>
  <h1><%= "Hello, #{current_user.email}" %></h1>
<% end %>
<h1>Welcome to the Bookstore's Rails Portal!</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% if user_signed_in? %>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>
<p>For DoorkeeperAPI documentation, check <%= link_to "here", swagger_root_path %></p>
<p>For the Bookstore API documentation, check <%= link_to "here", rswag_ui_path %></p>
<p>You can test the API with following credentials.</p>
<div class="container">
  <%= @application.as_json %>
  <ul>
    <li><%= link_to "Web Books", books_path %></li>
    <li><%= link_to "API V1 Books", api_v1_books_path %></li>
    <li><%= link_to "API V1 Android Books", api_v1_android_books_path %></li>
  </ul>
</div>
