<p style="color: green"><%= notice %></p>
<h1>Books</h1>
<h2>
  <%= "#{current_user.email}"%>
</h2>
<h3><%= "Role: #{current_user.role}" %></h3>
<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", book %>
    </p>
  <% end %>
</div>
<%= link_to "New book", new_book_path %>
